body{
    padding: 0;
    margin: 0;
    background-color: #161515;
    display: flex;
    justify-content: center;

}

.container{
    width: 20%;
    background-color: white;
    padding: 25px 30px;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 30%;
    box-shadow: 0 4px 16px white;
  
}
.container input{
   padding: 5px 10px;
   margin-bottom: 10px;
   border-radius: 6px;

}
.container button{
   padding: 5px 10px;
   margin-bottom: 10px;
   background-color: #6cff6c;
   border-radius: 6px ;

}

#imgBox{
    width: 200px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease;
}

#imgBox.show-img{
    max-height: 400px;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}